.container, .container div {
    background-color: #264653;
    color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeIcon {
    margin: 0 0.5rem;
    color: #E76F51;
}

.homeLink,
.title {
    margin: 0;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
}

.aboutLinkContainer {
    padding: 0 2rem;
    font-size: 1.2rem;
}

@media screen and (max-width: 480px) {
    .container {
        flex-direction: column;
    }

    .homeLink, .title {
        font-size: 1.5rem;
        padding: 1rem 0.5rem;
    }

    .aboutLinkContainer {
        padding: 1rem;
    }
}