.container {
  padding: 0 2rem;
}

.dateContainer {
  width: 90%;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dateContainer h1, .dateContainer h2 {
  margin: 0.5rem;
}

.date {
  font-size: 2rem;
}

.time {
  font-size: 3rem;
}