.container {
  padding: 0 0 2.5rem 0;
}

.dateContainer {
  width: 90%;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  border-radius: 18px;
}

.dateContainer h1, .dateContainer h2 {
  margin: 0.5rem;
}

.intro {
  font-style: italic;
  font-weight: normal;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

.date {
  font-size: 2rem;
}

.time {
  font-size: 3rem;
}

.flexRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

@media screen and (max-width: 380px) {
  .intro {
    font-size: 1.2rem;
  }

  .date {
    font-size: 1.5rem;
  }

  .time {
    font-size: 2.5rem;
  }
}